@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
  --bg-black: black;
  --card-bg: black;
  --neon-cyan: #00ffff;
  --dimmer-cyan:#1c3d3d;
  --text-gray: #aaaaaa;
  --lighter-black: #0a0a0a;

  --font-main: 'JetBrains Mono', monospace;
}

/*some global stuff*/
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: var(--font-main);
  
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--bg-black);
  line-height:1.6;
  color:var(--text-gray);
}

a{
  text-decoration:none;
  color:inherit;
}

footer{
  display:flex;
  align-items: center;
  justify-content:center;
  text-align:center;
  height:100px;
  border-top:1px solid var(--dimmer-cyan);
  font-size:12px;
}

h1{
  font-size: 74px;
  color: var(--neon-cyan);
  text-shadow:
    0 0 30px var(--neon-cyan);
}

h3{
  color:var(--neon-cyan);
  font-size: 32px;
}

h5{
 font-size:24px;
 color: var(--neon-cyan);
}

.main_page{
  display:flex;
  flex-direction:column;
  margin-top:2%;
  padding:5%;
}

.page_para{
  text-align:justify;
}

hr{
  border:none;
  height:1px;
  width: 25%;
  background-color:var(--dimmer-cyan);
  margin-top: 20px;
}
/*animation setup*/ 
@keyframes appear_head{
  from{
    opacity:0;
    transform: translateY(30px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes appear_component{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}

h1, h2, h3, h4, h5, .box_button{
  opacity:0;
  animation: appear_head 1s ease-out forwards;
}

.button, p{
  opacity:0;
  animation: appear_component 1s ease-out forwards;
}

p{animation-delay:0.2s;}
.button{animation-delay:0.4s;}

.common_container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 50px;
}

.box_button{
  padding: 5% 5% 10%;
  margin: 10px;
  border:1px solid var(--dimmer-cyan);
  background-color: var(--lighter-black);
}

.box_button:hover{
  border: 1px solid var(--neon-cyan);
  background-color: var(--lighter-black);
  box-shadow: 0 0 10px var(--neon-cyan);

}

.box_button:hover h4{
  color:white;
}

.icon{
  font-size:42px;
  color:var(--neon-cyan);
  font-weight:1400;
  text-stroke: 1.5px var(--neon-cyan);
-webkit-text-stroke: 1.5px var(--neon-cyan);
  filter: drop-shadow(0 0 7px var(--neon-cyan));

  transition: transform 0.3s ease, filter 0.3 ease;
  display:inline-block;
}

.box_button:hover .icon{
  transform: scale(1.15);
}

.box_para{
  font-size:16px;
}

h4{
  font-size:24px;
  font-weight: 600;
  color:var(--neon-cyan);
}


.button{
  padding: 8px 17px;
  margin: 20px;
  color: var(--neon-cyan);
  border: 1px solid var(--neon-cyan);
  box-shadow: 0 0 5px var(--neon-cyan); 

}

.button:hover{
  padding: 8px 17px;
  margin: 20px;
  color: black;
  background-color: var(--neon-cyan);
  border: 1px solid var(--neon-cyan);
  box-shadow: 0 0 10px var(--neon-cyan); 
}

/* for nav bar*/ 
nav{
  display: flex;
  gap:30px;
  padding: 20px 35px;
  align-items:center;
  justify-content:space-between;
  border-bottom: 0.1px solid var(--dimmer-cyan);
  position: sticky; top: 0;
  background-color: var(--bg-black);
  opacity:0.9;
  z-index:9999;
}

#icon_btn{
  font-size:24px;
  
}

#nav_subgroup{
  display:flex;
  gap:60px;
}

#nav_links{
  display:flex;
  gap:30px;
}

.primary_btn_nav:hover{
  color:var(--neon-cyan);
}

#open{
  color:var(--neon-cyan);
  border-bottom:2px solid var(--neon-cyan); 
}

#login_btn{
  padding: 8px 17px;
  margin: 20px;
  color: var(--neon-cyan);
  border: 1px solid var(--neon-cyan);
  box-shadow: 0 0 5px var(--neon-cyan); 
}
#login_btn:hover{
  padding: 8px 17px;
  margin: 20px;
  color: black;
  background-color: var(--neon-cyan);
  border: 1px solid var(--neon-cyan);
  box-shadow: 0 0 10px var(--neon-cyan); 

}


/*for homepage*/
.title{
  color:var(--neon-cyan);
}


#main_home{
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items: center;
  text-align: center;
  padding: 10%;
  background-image: 
      linear-gradient(var(--dimmer-cyan) 1px, transparent 1px),
      linear-gradient(90deg, var(--dimmer-cyan) 1px, transparent 1px);
  background-size: 60px 60px;
  background-position: center center;
}

#main_home_title{
  display:flex;
  padding: 2%;
  font-size:74px;
  font-weight:900;

}

#main_title{
  text-shadow:
    0 0 30px var(--neon-cyan);
}

#home_para{
  font-size:18px;
  max-width:700px;
}

#second_home_head{
  text-align:center;
  font-size: 32px;
  margin-top:60px;
  padding: 10px 0;
  color:var(--neon-cyan);
}

/*About page*/
#second_about{
  margin-top:50px;
}

/*Introduction page*/ 
#intro_page{
  display:grid;
  grid-template-columns: 300px 1fr;
  column-gap:40px;
}

.sidebar{
  position:sticky;
  top:60px;
  margin:0 auto;
  height:fit-content;
  border:1px solid var(--dimmer-cyan);
  padding:30px

}

.sidebar_content_ls{
  list-style-type:none;
  margin-top:20px;
}
.sidebar_content_ls ul{
  list-style-type:none;
  padding:0;
  margin:0;
}

.sidebar_content_ls ul li{
  padding-left:15px;
}

#intro_content{
  display:flex;
  flex-direction:column;
  row-gap:50px;
}

.sidebar_heading{
  font-weight:bold;
  font-size:24px;
  color:var(--neon-cyan);
}

.intro_page_fundamental{
  display:flex;
  flex-direction:column;
  row-gap:25px;
}

#cryptology,#cryptography,#cryptography_history,#core_principle{
  scroll-margin-top: 100px;
}

#info_wip{
  display:flex;
  justify-content:center;
  font-color:white;
}

/*reference page*/
.refer_box_button{
  display:inline-block;
  color:var(--neon-cyan);
  border:1px dotted var(--neon-cyan);
  margin: 5px;
  padding: 5px;
  background-color: var(--dimmer-cyan);
}

.icon_refer{
  font-size:42px;
  color:var(--neon-cyan);
  font-weight:1400;
  text-stroke: 1.5px var(--neon-cyan);
  filter: drop-shadow(0 0 10px var(--neon-cyan));

 
}
